name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v 4.2.0, we are using SHA hash as SonarCloud as we configured in our SonarCloud rules
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Astro typecheck
        run: pnpm astro-check

      - name: Biome check (lint + formatting) on src
        run: pnpm biome:check

      - name: Biome formatting check on src (no write)
        run: pnpm biome:format -- ./src --write=false